{% extends 'accounts/base.html' %}

{% block content %}
    <!-- Login Section -->
    <div class="login-container animate fadeInUp">
        <h2 class="login-title">Connexion</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </div>
        </form>
        <div class="login-footer">
            Vous n'avez pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous ici</a>
        </div>
    </div>
{% endblock %}
